<div class="p-6 space-y-4 bg-base-100 rounded-xl shadow-inner">
  <div class="flex justify-between items-center flex-wrap gap-3">
    <h2 class="text-xl font-bold text-primary">Catégories</h2>
    <div class="flex gap-2">
      <a routerLink="/category/new" class="btn btn-sm btn-primary">Nouvelle</a>
      <button class="btn btn-sm btn-outline" (click)="refresh()">Rafraîchir</button>
    </div>
  </div>

  @if (list().length > 0) {
    <div class="overflow-x-auto rounded-xl border border-base-300 shadow bg-base-200">
      <table class="table table-xs w-full text-center">
        <thead class="bg-base-300 text-base-content/80">
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Type</th>
          <th>Détails</th>
          <th>Actif</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
          @for (category of list(); let i = $index; track category.id) {
            <tr class="hover">
              <th>{{ i + 1 }}</th>
              <td>{{ category.name }}</td>
              <td>
                <span class="badge badge-sm"
                      [ngClass]="category.typeCategoryRaw === 'IN' ? 'badge-success' : 'badge-error'">
                  {{ category.typeCategoryRaw === 'IN' ? 'Entrée' : 'Sortie' }}
                </span>
              </td>
              <td>{{ category.details || '-' }}</td>
              <td>
                <input type="checkbox" class="checkbox checkbox-xs" [checked]="category.isActive" disabled />
              </td>
              <td>
                <div class="flex justify-center gap-1">
                  <a [routerLink]="['/category', category.id, 'edit']" class="btn btn-xs btn-outline btn-info">
                    Modifier
                  </a>
                  <button class="btn btn-xs btn-outline btn-error" (click)="delete(category)">
                    Supprimer
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>

      <div class="flex justify-center items-center gap-2 p-4">
        <button class="btn btn-sm" (click)="prev()" [disabled]="page() === 0">
          Précédent
        </button>
        <span class="text-sm text-base-content/60">
    Page {{ page() + 1 }} / {{ totalPages() }}
  </span>
        <button class="btn btn-sm" (click)="next()" [disabled]="page() >= totalPages() - 1">
          Suivant
        </button>
      </div>


    </div>
  } @else {
    <div class="text-center text-base-content/60 italic bg-base-200 py-8 rounded-xl shadow">
      Aucune catégorie disponible
    </div>
  }
</div>
